<html !doctype>
  <head>
    
    <style>
      header{
        width:100%;
        height:90px;
        display:flex;
        justify-content:space-around;
        flex-direction:row;
        background-color:#1976d2;
      }
      nav{
        
      }
      nav ul{
        color:white;
        list-style-type:none;
        font-weight:300;
      }
      nav ul li{
        display:block;
        float:left;
        padding-right:20px;
        padding-left:20px;
        font-size:18px;
      }
      
        
    </style>
  </head>
  <body>
    <header>
      <div class="logo">
      </div>
      <nav>
        <ul>
          <li>Home</li>
          <li>Kurse</li>
          <li>Kurse anbieten</li>
          <li>Kontakt</li>
          <li>Häufige Fragen</li>
        </ul>
      </nav>
      <div class="login">
        
      </div>
      
    </header>
    <section>
      
    </section>
  </body>
  
</html>